<span
  ><a href="https://www.stake.com/?c=JQiAqd5v">
    <img class="md:w-[1600px] lg:w-[1600px]" src="work/stakeb.gif" alt="" />
  </a></span
>
<section class="border-white/20 border-b">
  <div class="mx-auto border-white/20 border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-4xl text-xl">
        New Features and socials
      </p>
    </div>
    <div class="mx-auto max-w-7xl px-8 py-4">
      <div class="pb-8">
        <button
          class="text-black border bg-[#A9A9A9] focus:ring-4 font-display focus:outline-none font-bold uppercase rounded-full text-sm px-8 py-4 text-center me-2 mb-2 dark:border-gray-600 dark:text-black"
          >News Blog (Coming Soon)</button
        >
        <button
          class="text-black border bg-[#A9A9A9] focus:ring-4 font-display focus:outline-none font-bold uppercase rounded-full text-sm px-8 py-4 text-center me-2 mb-2 dark:border-gray-600 dark:text-black"
          >Bots Statistics Dashboard (Coming Soon)</button
        >
        <button
          class="text-black border bg-[#A9A9A9] focus:ring-4 font-display focus:outline-none font-bold uppercase rounded-full text-sm px-8 py-4 text-center me-2 mb-2 dark:border-gray-600 dark:text-black"
          >Telegram Community Group (Coming Soon)</button
        >
      </div>
    </div>
  </div>
</section>
