<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-4xl text-xl">
        Solana Trading Bots Compared
      </p>
    </div>
    <div class="mx-auto max-w-7xl px-8 py-4">
      <p class="text-white font-display uppercase lg:text-xl pb-4">
        In this section, we will compare the utilities of all the bots that we have presented. In the following table, we will identify the unique offerings of each bot.
      </p>
    </div>
  </div>
</section>
