<div class="text-white text-normal gap-3 gap-y-12 mx-auto p-8">
  <div class="flex justify-between h-full">
    <p class="text-white">
      <span class="font-bold text-lg"
        >Are you interested in purchasing newly launched tokens on the Solana
        Network?</span
      >
      <br />
      Interested in purchasing freshly launched tokens on the Solana Network? Having
      a trading bot is essential! These bots typically operate within Telegram, so
      if you haven't already, now would be the perfect opportunity to set up an account
      or explore alternative platforms. Without a trading bot, securing a new token
      can be challenging. It often takes time before tokens become accessible on
      platforms like Raydium or Jupiter. By the time they are available, you may
      have missed out on a prime entry opportunity.
      <br />
      <br />
      <a
        href="https://www.reddit.com/r/SolanaSniperBots/"
        class="w-full lg:ml-auto bg-white duration-200 font-display hover:bg-carrot hover:text-black lg:w-auto px-6 py-4 sm:rounded-full text-black text-center text-xs uppercase"
        >Join the Reddit Community for in-depth guides</a
      >
      <br />
      <br />
    </p>
  </div>
</div>
