---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en" class="selection:bg-carrot selection:text-white">
  <head> </head>
  <body class="mx-auto bg-black 2xl:max-w-7xl">
    <slot />
  </body>
</html>
