<section
  class="mx-auto border-white/20 border-t 2xl:max-w-7xl bg-black border-b justify-center lg:fixed lg:z-50 w-full py-2"
>
  <div class="mx-auto bg-black justify-center w-full">
    <div
      class="mx-auto border-white/20 border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full"
    >
      <div
        class="text-white text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row sm:px-8"
      >
        <a
          href="https://www.reddit.com/r/SolanaSniperBots/"
          class="text-white text-xs font-display inline-flex items-center md:px-8 md:text-center py-4 uppercase"
          ><span
            >SOLANA TRADING BOTS ⏤ Lighting speed sniper bots &nbsp; &rarr;</span
          >
        </a>
        <a
          href="#review"
          class="w-full lg:ml-auto bg-white duration-200 font-display hover:bg-carrot hover:text-black lg:w-auto px-6 py-4 sm:rounded-full text-black text-center text-xs uppercase"
          >TradingBots Reviews</a
        ><a
          href="#compare"
          class="w-full bg-carrot lg:mr-4 lg:ml-2 duration-200 font-display hover:bg-blacktext-white lg:w-auto px-6 py-4 sm:rounded-full text-black hover:text-black hover:bg-white text-center text-xs uppercase"
          >Compare Tradingbots
        </a>
      </div>
    </div>
  </div>
</section>
